
.container {
    padding-right: 9rem;
}

.section {
    text-align: center;
    padding: 16px;
    margin: auto;
    display: inline-flex;
    width: 30%;
}


.item {
    padding: 20px;
}

.fields{
    padding: 2rem;
}

.submissionForm {
    max-width: 500px;
    margin: 2rem auto;
    border: 2px solid;
    padding: 2rem;
}

.submissionForm label{
    display: block;
    padding: .25rem;
}

.submissionForm label textarea{
    display: block;
    width: 100%;
}

.btn {
    border: 0;
    background: #ebebf0;
    padding: 1rem;
    width: auto;
}

.btn:hover {
    cursor: pointer;
    background: #c32e2e;
    transition: .2s background ease-in;
}

button:disabled,
button:disabled:hover,
button:disabled:active{
    background-color: #ccc;
    color: #292929;
    border-color: #cccccc;
    cursor: not-allowed;

}

.errorText {
    color: #b40e0e;
    padding-top: .5rem;
    padding-bottom: .5rem;
    text-transform: uppercase;
}