
* {
    box-sizing: border-box;
    margin: auto;
    padding: 0;
    background-color: #f5f5f5;
    text-decoration: none;
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 20px;
    background-color: #E0E0E0;
}


.sub_links {
    list-style: none;
    background-color: #E0E0E0;
}

li {
    display: inline-block;
    padding: 0 20px;
    text-transform: uppercase;
}

li a {
    display: inline-block;
    position: relative;
    color: #0a0a0a;
}

.sale {
    color: red;
}

li a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #c32e2e;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

li a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

a.active {
    text-decoration: underline;
    text-decoration-color: #c32e2e;
    text-decoration-thickness: 3px;
}






