
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #ebebf0;
    text-decoration: none;
    text-align: center;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 21px;
}

.logo {
    cursor: pointer;
    margin-right: auto;
    color: #0a0a0a;

}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0 20px;
}

.nav_links li a{
    display: inline-block;
    position: relative;
    color: #0a0a0a;
}

.nav_links li a:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #c32e2e;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav_links li a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav_links a.active {
    text-decoration: underline;
    text-decoration-color: #c32e2e;
    text-decoration-thickness: 3px;
}