

.header {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: space-between;
    /*background-image: linear-gradient(45deg, #A6B5EC 10%, #2B396B 98%);*/
    background-image: linear-gradient(45deg, #FAF9F5 10%, #384D08 88%);
    padding: 0 10%;
    margin: 0;
}


.header ul {
 color: whitesmoke;
    font-size: 17px;
    text-decoration: none;
    margin: 15px;
    position: relative;
    opacity: 0.9;

}

.header li {
    margin-left: 3rem;
    margin-right: 3rem;
}

.header a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #ffffff;
}

.header a:hover,
.header a:active,
.header a.active {
    display: inline-block;
    position: relative;
    color: white;
}


.badge {
    background-color: #cc2062;
    color: white;
    border-radius: 12px;
    padding: 0 1rem;
    margin-left: 0.5rem;
}

