
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #ebebf0;
    text-decoration: none;
    text-align: center;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 21px;
}

.logo {
    cursor: pointer;
    margin-right: auto;
    color: #0a0a0a;
    font-size: 1.5rem;

}

.nav_links {
    list-style: none;
}

li {
    display: inline-block;
    padding: 0 20px;
}

li a{
    display: inline-block;
    position: relative;
    color: #0a0a0a;
}

li a:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #c32e2e;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

li a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

a.active {
    text-decoration: underline;
    text-decoration-color: #c32e2e;
    text-decoration-thickness: 3px;
}


.toggle {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

.bar {
    height: 4px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

@media all and (max-width: 700px) {
    .toggle {
        display: flex;
    }

    .nav_links {
        display: none;
    }


}