
nav {
    background-color: #E0E0E0;

}

.footer {
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 20px;
    background-color: #E0E0E0;
}


.foot_links {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #E0E0E0;
}

li {
    display: inline-block;
    padding: 0 20px;
    margin: 0 5px;
    background-color: #E0E0E0;
}

li a{
    display: inline-block;
    position: relative;
    color: #0a0a0a;
    background-color: #E0E0E0;
}

li a:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #c32e2e;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

li a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
