.socialContainer {
    padding: .25rem .25rem;
    background-color: #E0E0E0;
}

.anchor {
    margin: 0 .25rem;
    background-color: #E0E0E0;
    color: #c32e2e;
}

.icon {
    background-color: #E0E0E0;
}